<!-- STEP 1: CREATE THE HAMBURGER MENU BUTTON -->
<div class="-mr-2 -my-2 ml-3 md:hidden">
    <button type="button" class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
        INSERT ICON HERE
    </button>
</div>

<!-- STEP 2: CREATE THE ALPINEJS VARIABLE FOR THE MOBILE MENU OPEN/CLOSE -->
x-data="{ mobileMenuOpen: false }"

<!-- STEP 3: USE THIS MOBILE MENU TEMPLATE -->

<!-- MOBILE MENU CONTAINER -->
<div class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
    <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
        <div class="p-5 divide-y-2 divide-gray-50">

            <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
            <div class="flex items-center justify-between pb-3">
                <div>
                    <h1 class="text-lg text-gray-500">MENU</h1>
                </div>
                <div class="-mr-2">
